/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-bg: #e7e5e4;
    --primary-font: "Geist", serif;
}

.dark {
    --main-bg: #0a0a0a;
}

html,
body {
    @apply bg-stone-100 dark:bg-neutral-950 text-neutral-900;
}

html {
    font-family: var(--primary-font);
    background: var(--main-bg);
}

main {
    @apply prose dark:prose-invert leading-normal;
}

a {
    @apply text-base;
}
a > span:hover{
    color: black;
    transition: color 0.3s ease-in-out;
}

.dark a > span:hover{
    color: white;
    transition: color 0.3s ease-in-out;
}
li,
p,
span,
button {
    @apply text-base text-stone-700 text-justify dark:text-[#8d8c8c] tracking-tight;
}

pre {
    position: relative;
    overflow-x: auto; 
    white-space: pre; 
    word-wrap: normal; 
}

pre > code {
    display: block;
    white-space: pre; 
}


li {
  @apply tracking-tight;
}
p {
    @apply mt-5;
}

.astro-code span{
  font-size: 14px;
}
/* SHIKI STYLES */
.dark .astro-code,
.dark .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
}

.gradient-red {
    background: -webkit-linear-gradient(0deg, #ff8922 20%, #ff279c 50%, #d9113f 80%);
    -webkit-background-clip: text;
    background-clip: text;
}


.image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--main-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .large-image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
    cursor: pointer;
  }
  