---
import ContactFooter from "@/components/ui/ContactFooter.astro";
import Layout from "../layouts/Layout.astro";

import { HOME } from "@/consts";
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
    <div id="about-container">
        <article class="animate show">
            <h3 id="About-Lakshmanshankar">👋 Hii, I am</h3>
            <h2 class="gradient-red font-extrabold mt-3 text-transparent">Lakshmanshankar</h2>
            <h4 class="mb-0 mt-3"></h4>

            <p>
                I am a <strong>Full stack developer</strong> deeply immersed in web technologies, and
                my coding journey began amidst the COVID lockdown in <code>2020</code>. Starting
                with <strong>Python</strong>, I later ventured into web technologies during my
                second year of college. However, it was my fascination with <strong
                    >Operating Systems</strong
                > and <strong>Cloud Computing</strong> that truly intrigued me, revealing the intricacies
                of deploying and maintaining apps at scale.
            </p>
            <p>
                With a solid understanding of programming languages like <strong>Typescript</strong
                >, <strong>Python</strong>, and <strong>C++</strong>, my programming skills and
                proficiency in data structures and algorithms have helped me tackle over <code
                    >490 LeetCode problems</code
                >. This experience has provided me with diverse perspectives and refined my
                problem-solving skills.
            </p>
            <p>
                started using Linux in January <code>2022</code>; It’s almost <code>3 years</code>
                into that and I enjoyed everything about Linux. I began with vim and moved to neovim,
                and my <a href="https://github.com/Lakshmanshankar/dotfiles">dotfiles</a> repository
                had grown a lot since then. I love the awesome command line tools which make my developer
                workflow a breeze to work with. And I love <strong
                    >dark color schemes with gradient texts</strong
                >; you can see them in all my works.
            </p>
            <p>
                Currently, I’m focused on enhancing my skills in <strong>web technologies</strong> and
                deepening my understanding of data structures. For further details, here’s a link to
                my <a href="https://lakshmanshankar.vercel.app/resume.pdf">resume</a>
            </p>
            <p>
                It's 2025, and I'm still learning new things every day. Here's a list of tools that I use everyday:  
                <a href="/blog/what-i-use-in-2025">Check it out here!</a>
            </p>
        </article>
        <hr>

        <h3 class="mt-4 mb-4 ">Skills</h3>
        <section class="flex justify-between flex-col lg:flex-row">
            <div>
                <h4 class="mt-0 ml-8">Languages</h4>
                <ul>
                    <li>Typescript</li>
                    <li>Python</li>
                    <li>Go</li>
                </ul>
            </div>

            <div>
                <h4 class="mt-0 ml-8">Frameworks & Libraries</h4>
                <ul>
                    <li>React, Next</li>
                    <li>Graphql</li>
                    <li>Astro</li>
                </ul>
            </div>

            <div>
                <h4 class="mt-0 ml-8">Tools</h4>
                <ul>
                    <li>Git, Github</li>
                    <li>Postgres</li>
                    <li>Firebase</li>
                </ul>
            </div>
        </section>

        <hr>

        <section>
            <h3>Contact</h3>
            <p>
                You can contact me directly @<a href="mailto:lakshmanshankarc@gmail.com"
                    >lakshmanshankarc@gmail.com</a
                > or you can reach me on any of the following platforms:
            </p>
            <div class="text-white dark:text-white">
                <ContactFooter />
            </div>
        </section>
        <br>
        <h3>Colopon</h3>
        <p>
            This Site is generated using astro(v5) with <a href="https://astro-nano.vercel.app">Astro-nano</a>, and 
            tailwindcss, All the code for this website is availble <a href="https://github.com/Lakshmanshankar/lakshmanshankar.github.io">here</a> under <strong>`MIT License`</strong> and all the content is under  
            creative commons license.
        </p>
    </div>
</Layout>
