---
import ContactFooter from "@/components/ui/ContactFooter.astro";
import Layout from "../layouts/Layout.astro";

import { HOME } from "@/consts";
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
    <div id="about-container">
        <article class="animate show">
            <h3 id="About-Lakshmanshankar">👋 Hii, I am</h3>
            <h2 class="gradient-red font-extrabold mt-3 text-transparent">Manikandan kalyanasundaram</h2>
            <h4 class="mb-0 mt-3"></h4>

            <p>
                From a young age, I found myself drawn to design — fascinated by how colors, 
                shapes, and layout could influence how we interact with the world. This early curiosity 
                steadily grew into a <strong>deep-seated passion</strong>, which ultimately led me to pursue a career in 
                UI/UX design in <strong>2023.</strong> What began as a childhood interest has now evolved into a meaningful 
                journey of crafting purposeful, <strong>user-centric digital experiences.</strong> 
            <p>
            <p>
                Since 2023, my focus has been on understanding and addressing <strong>real-world problems</strong> through design.
                I constantly seek challenges that push me to think deeper and design better. Every project I take
                on is not just an assignment, but an opportunity to create intuitive solutions that genuinely <strong>improve 
                users lives.</strong> This craving for real-world impact is what <strong>fuels my creativity</strong> and 
                commitment to user experience.
            </p>
            <strong></strong>
            <p>
                I've worked on over three substantial projects where I was directly involved in identifying user 
                <strong>pain points,</strong> conducting research, and designing thoughtful, user-centered solutions. These projects 
                not only allowed me to apply my design skills but also gave me the confidence to tackle <strong>complex UX 
                    problems with clarity and empathy.</strong> I often supplement my learning with case studies, which keep my 
                design instincts sharp and feed my hunger for impactful work.
            </p>
            <p>
                Currently, I’m focused on enhancing my skills in <strong>Brand language designs</strong> and
                deepening my understanding of User experience. For further details, here’s a link to
                my <a href="https://drive.google.com/file/d/1fAOCWx0_kadK-MbqZ1gJ2q0HW3RKdQpi/view">resume</a>
            </p>
        </article>
        <hr>

        <h3 class="mt-4 mb-4 ">Skills</h3>
        <section class="flex justify-between flex-col lg:flex-row">
            <div>
                <h4 class="mt-0 ml-8">UI SKILLS</h4>
                <ul>
                    <li>Design Systems</li>
                    <li>Interaction Design</li>
                    <li>Responsive Design</li>
                </ul>
            </div>

            <div>
                <h4 class="mt-0 ml-8">UX SKILLS</h4>
                <ul>
                    <li>Interaction Design</li>
                    <li>Problem-Solving</li>
                    <li>Critical Thinking</li>
                </ul>
            </div>

            <div>
                <h4 class="mt-0 ml-8">TOOLS</h4>
                <ul>
                    <li>Figma</li>
                    <li>Adobe xd</li>
                    <li>Sketch</li>
                </ul>
            </div>
        </section>

        <hr>

        <section>
            <h3>Contact</h3>
            <p>
                You can contact me directly @<a href="mailto:manikandanvisualdesigner@gmail.com"
                    >manikandanvisualdesigner@gmail.com</a
                > or you can reach me on any of the following platforms:
            </p>
            <div class="text-white dark:text-white">
                <ContactFooter />
            </div>
        </section>
        <br>
        
    </div>
</Layout>
