---
import ProjectShowcase from "./project-showcase.astro";
import ContactFooter from "./ui/ContactFooter.astro";
import Footer from "./ui/Footer.astro";
import WorkExp from "./work-exp.astro";
---

<div id="container">
    <article class="animate show">
        <h3 id="-hii-i-am-lakshman-shankar">👋 Hii, I am</h3>
        <h2 class="gradient-red font-extrabold text-transparent">Manikandan kalyanasundaram</h2>
        <h4 class="mb-0 mt-3">UX/UI Designer</h4>
        <p> I am a UX/UI Designer with over 1.9 years of experience. I am currently working at Bullet.so, a website builder that uses Notion as a CMS. </p>
        <ul>
            <li>I am Passionate about crafting intuitive web designs, optimizing database systems, and enhancing digital experiences through UI/UX innovation.</li>
            <li>Currently, I am Exploring the art of brand language and mastering UI/UX development to create seamless digital experiences<li>
            <li>I am a Software Designer from Coimbatore and open to exploring opportunities in the future.</li>
            <li>If you are working on something interesting that involves Brand language, Human centric design please feel free to reach out!</li>
            <li>Currently, I am learning about serverless computing, edge computing, and advanced database systems. I recently published a blog about database connection management in serverless env <a href="/blog/database-connection-for-serverless">here</a>ironments—you can read it.</li>
        </ul>
    </article>

    <section>
        <ProjectShowcase obeyCount={true} />
    </section>
    <section>
        <WorkExp obeyCount={true} />
    </section>
    <section>
        <h3>Contact</h3>
        <p>
            You can contact me directly @<a href="mailto:manikandanvisualdesigner@gmail.com"
                >manikandanvisualdesigner@gmail.com</a
            > or you can reach me on any of the following platforms:
        </p>
        <div class="text-white dark:text-white">
            <ContactFooter />
        </div>
    </section>
</div>
