---
import ProjectShowcase from "./project-showcase.astro";
import ContactFooter from "./ui/ContactFooter.astro";
import Footer from "./ui/Footer.astro";
import WorkExp from "./work-exp.astro";
---

<div id="container">
    <article class="animate show">
        <h3 id="-hii-i-am-lakshman-shankar">👋 Hii, I am</h3>
        <h2 class="gradient-red font-extrabold text-transparent">Lakshmanshankar</h2>
        <h4 class="mb-0 mt-3">Full Stack Developer</h4>
        <p>
            I am a Full Stack Developer with over 1.4 years of experience. I am currently working at Bullet.so, a website builder that uses Notion as a CMS.
        </p>
        <ul>
            <li>I am passionate about web technologies, database systems, and computer science in general.</li>
            <li>Currently, I am learning about serverless computing, edge computing, and advanced database systems. I recently published a blog about database connection management in serverless environments—you can read it <a href="/blog/database-connection-for-serverless">here</a>.</li>
            <li>I am a Software Developer from Coimbatore and open to exploring opportunities in the future.</li>
            <li>If you are working on something interesting that involves Go and TypeScript, please feel free to reach out!</li>
        </ul>
    </article>

    <section>
        <ProjectShowcase obeyCount={true} />
    </section>
    <section>
        <WorkExp obeyCount={true} />
    </section>
    <section>
        <h3>Contact</h3>
        <p>
            You can contact me directly @<a href="mailto:lakshmanshankarc@gmail.com"
                >lakshmanshankarc@gmail.com</a
            > or you can reach me on any of the following platforms:
        </p>
        <div class="text-white dark:text-white">
            <ContactFooter />
        </div>
    </section>
</div>
