---
import { getCollection } from "astro:content";
import FormattedDate from "@/components/ui/FormattedDate.astro";
import { SITE } from "@/consts";
const posts = await getCollection("work");
let countProjects = 0;
const newPosts = posts.filter((post) => {
    if (!post.data.draft) {
        countProjects++;
    }
    return !post.data.draft && countProjects <= SITE.NUM_WORKS_ON_HOMEPAGE;
});

type Props = {
    obeyCount?: boolean;
};
const { obeyCount = false } = Astro.props;
const renderProjects = obeyCount ? newPosts : posts;
---

<div class="">
    <h3>Work</h3>
    {
        renderProjects.map((post) => (
            <a
                href={`/work/${post.id}`}
                class="post-item block p-1 my-2 px-3 no-underline rounded-lg hover:transition-all hover:dark:bg-neutral-800 relative group border border-stone-600 dark:border-neutral-800"
            >
                <div>
                    <div class="flex md:gap-2 flex-col md:flex-row md:items-center my-2">
                        {" "}
                        <h4 class="my-0">{post.data.company}</h4>
                        <p class="my-0 text-sm mt-1">
                            <FormattedDate date={new Date(post.data.dateStart)} includeYear /> to{" "}
                            <FormattedDate date={new Date(post.data.dateEnd)} includeYear />
                        </p>
                    </div>
                    <p class="text-sm my-1 max-w-md">
                        {post.data.role}
                        {/* <FormattedDate date={new Date(post.data.date)} /> */}
                    </p>
                </div>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    class="absolute top-1/2 right-2 -translate-y-1/2 size-5 stroke-2 fill-none stroke-current"
                >
                    <line
                        x1="5"
                        y1="12"
                        x2="19"
                        y2="12"
                        class="translate-x-3 group-hover:translate-x-0 scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-in-out"
                    />
                    <polyline
                        points="12 5 19 12 12 19"
                        class="-translate-x-1 group-hover:translate-x-0 transition-transform duration-300 ease-in-out"
                    />
                </svg>
            </a>
        ))
    }
</div>
