---
import Layout from "@/layouts/Layout.astro";
import { WORK } from "@/consts";
import WorkExp from "@/components/work-exp.astro";
---

<Layout title={WORK.TITLE} description={WORK.DESCRIPTION}>
    <div class="">
        <WorkExp />
    </div>
</Layout>
