---
import Head from "@/components/scripts.astro";
import Header from "@/components/Header.astro";
import "../styles/global.css";
import "../styles/typography.css";
import Navbar from "@/components/ui/Navbar.astro";

import { SITE } from "@/consts";
import Footer from "@/components/ui/Footer.astro";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="fade">
    <head>
        <Head />
        <Header title={`${title} | ${SITE.NAME}`} description={description} />
    </head>
    <body>
        <main class="mx-auto max-w-[700px] px-7 py-5 ">
            <Navbar />
            <slot />
            <Footer />
        </main>
    </body>
</html>
