<nav class="flex justify-between items-center space-y-1 mb-4">
    <a href="/" class="no-underline font-semibold">Home</a>

    <div class="flex gap-2 text-sm  hover:text-whi">
        <a href="/blog" class="no-underline">
            <span>Blog</span>
        </a>
        <a href="/projects" class="no-underline">
            <span>Projects</span>
        </a>

        <a href="/work" class="no-underline">
            <span>Work</span>
        </a>
        <a href="/about" class="no-underline">
            <span>About</span>
        </a>
    </div>
</nav>
